header{
	background-color: rgb(24,23,51);
	opacity: 0.9;
	color: white;
	padding : 1px;
	font-family: arial;
}

.judul{
	margin-left: 30px;
	font-size: 25px
}

*{
	margin : 0;
}

body {
  background-image: url(../gambar/lamasia.jpg);
  backdrop-filter: blur(10px);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.unduh{
	background-color: #ffcc0c;
	height: 18px;
	padding: 42px;
	position: absolute;
  	top: 0;
  	right: 0;
}

.unduh:hover{
	background-color: rgba(254,191,0,1);
}

.nav{
	font-family: arial;
	padding: 50px;
}

.nav a{
	margin-left: 25px;
	padding: 15px;
	padding-bottom: 16px;
	color: white;
	text-decoration: none;
}

.nav a:hover{
	text-shadow: 2px 2px 5px orange;
}

.image: a {
  display: inline-block;
  background-color: rgba(38,34,34,1);
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 1px;
}

.image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.image:a:hover{
	background-color: rgba(24,78,126,1);
	color: white;
}

.judul_utama{
	text-align: center;
	font-family: arial;
	margin-top: 40px;
	color: rgba(245,185,0,1);
}

.materi_utama{
	margin-top: 40px;
	background-color: rgba(71,64,64,1);
	color: white;
	text-align: justify;
	font-family: arial;
	font-size: 15px;
	margin-left: 100px;
	margin-right: 100px;
	line-height: 24px;
	padding: 40px;
	border-radius: 10px;
}

.image-link {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}

.image-link:hover {
  opacity: 0.1;
}

.gambar{
	display: start;
	justify-content: center;
	align-items: center;
}

.gambar1{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.barca{
	display: flex;
	justify-content: start;
	align-items: center;
	margin-left: 100px;
}

.attention{
	color: white;
	font-family: arial;
	text-align: center;
	font-size: 30px;
	margin-top: 24%
}

.teks{
	text-shadow: 2px 2px 10px orange;
}

.logo{
	margin-right: 35px;
}

.namatim{
	font-size: 18px;
	font-family: arial;
}

.login{
	background-color: black;
	font-family: arial;
	border-radius: 15px;
	opacity: 0.8;
	color: white;
	height: 440px;
	width: 40%;
	margin-left: 30%;
	margin-top: 10%;
	display: flex;
	justify-content: center;
}

#username{
	width: 220px;
}

#password{
	width: 220px;
}

#daf_email{
	width: 220px;
}

#daftar{
	background-color: rgba(48,136,209,1);
	color: white;
	height: 30px;
	width: 90px;
	border: 0;
	border-radius: 7px;
	margin-left: 26%;
}

#masuk:hover{
	background-color: rgba(8,80,140,1);
}

.py{
	color: white;
}

footer{
	margin-top: 130px;
	background-color: rgba(38,34,34,1);
	color: white;
	padding : 25px;
	padding-top: 70px;
	font-family: arial;
}